<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKhejJFHsaB8HTZldKkFQ9iotuMbtRsZE</string>
	<key>GCM_SENDER_ID</key>
	<string>175262493623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alekssamson.Check-It-Of-iOS</string>
	<key>PROJECT_ID</key>
	<string>check-it-of-ios-1a27e</string>
	<key>STORAGE_BUCKET</key>
	<string>check-it-of-ios-1a27e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175262493623:ios:51032360a69201900e1632</string>
</dict>
</plist>